# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Build outputs
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# OS files
.DS_Store
*.log

# Keystores
*.jks
*.keystore

# Profiling
*.hprof

# Google Services
google-services.json